<div *ngIf="myPosts">
  <div *ngFor="let post of myPosts" class="card shadow rounded bg-white d-block ml-4 mt-3">
    <div class="card-header text-right">
        <i class="fas fa-pen-square fa-2x text-primary"></i>
    </div>
      <div class="card-body shadow">
        <div class="row">
          <div class="col-12">
              <div class="card-title">
                  <h5><a [routerLink]="['../post', post.id]" class="text-dark">{{post.title}}</a></h5>
              </div>
          </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card-text">
                    <p>{{post.description}}</p>
                    <div class="float-right">
                      <a [routerLink]="['../post', post.id]">Read More</a>
                    </div>
                  </div>
            </div>
        </div>
          <div class="row">
              <div class="col-12">
                  <div class="card-text mt-2 mb-2">
                      <div class="float-right"><p>User ID -{{post.createdBy}}</p></div>
                    </div>
              </div>
          </div>
          <div class="row">
            <div class="col-5"><span class="text-info"><a [routerLink]="['../post', post.id]" fragment="commentSection"><i class="far fa-comments"></i>&nbsp;{{post.commentCount}}&nbsp;Suggest</a></span></div>
          </div>
      </div>
  </div>
</div>
