a:hover{
  cursor: pointer;
}
.gold{
  color: gold;
}
.silver{
  color: silver;
}
.bronze{
  color: #cd7f32;
}
.platinum{
  color: #88847b;
}

.bg-bronze{
  background-color: #cd7f32;
}
.bg-silver{
  background-color: silver;
}
.bg-gold{
  background-color: gold;
}
.bg-platinum{
  background-color: #88847b;
}
#badge:hover{
  cursor: pointer;
}
