<div class="sticky-top mb-3">
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger justify-content-center p-3" *ngIf="!isLoggedIn()">
    <a routerLink='/home' class="navbar-brand"><span class="h3">Fix My 'SHIP</span></a>
  </nav>
  <nav class="navbar navbar-expand navbar-dark bg-danger p-3" *ngIf="isLoggedIn()">
      <a routerLink='/' class="navbar-brand"><span class="h5">Fix My 'SHIP</span></a>
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
  </nav>
</div>
