<div class="card shadow rounded bg-white d-block ml-4">
    <div class="card-body">
        <div class="card-text">
            <h3><a href="#" data-toggle="modal" data-target="#exampleModal">What is your issue?</a></h3>
        </div>
    </div>
</div>
<div *ngIf="postsByOthers">
    <div *ngFor="let post of postsByOthers" class="card shadow rounded bg-white d-block ml-4 mt-3">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
                <div class="card-title">
                    <h5><a [routerLink]="['../post', post.id]" fragment="postSection" class="text-dark">{{post.title}}</a></h5>
                </div>
            </div>
          </div>
          <div class="row">
              <div class="col-12">
                  <div class="card-text">
                      <p>{{post.description}}</p>
                      <div class="float-right">
                        <a [routerLink]="['../post', post.id]">Read More</a>
                      </div>
                    </div>
              </div>
          </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-text mt-2 mb-2">
                        <div class="float-right"><p>-{{post.username}}</p></div>
                      </div>
                </div>
            </div>
            <div class="row">
              <div class="col-5">
                <span class="text-info">
                  <a [routerLink]="['../post', post.id]" fragment="commentSection"><i class="far fa-comments"></i>&nbsp;{{post.commentCount}}&nbsp;Suggest</a></span>
                </div>
              <div class="col-4">
                <span class="text-warning"><i class="fas fa-rss"></i>&nbsp;Follow</span>
              </div>
              <div class="col-4"></div>
            </div>
        </div>
    </div>
</div>
